html,body{
    height:100vh;
}
body{
    background-color: #EEEEEE;
    
}
*{
    font-family:helvetica;
}
.cont{
    width:90%;
    margin: auto;

}
header{
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    padding:10px;
}
.logo, .menu{
    background-color: lightblue;
    height:100px;
    width:50%;
    padding-top:10px;
    padding-bottom: 10px;
}
.menu,footer{
    text-align: right;
}
footer{
    background-color: lightblue;
    padding:10px;
}
.menu a{
    text-decoration: none;
    color: Navy;
    font-size: 150%;
    font-weight: bold;
    margin:10px;
    padding:5px;

}
.menu a:hover {
    text-decoration: underline solid navy 1px;
}
.baner{
    background-color: #DDDDDD;
    height:200px;
}
button{
    background-color: LightBlue;
    color:Navy;
}
.princ{
color:navy;
margin:50px;
height:400px
}